@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --veryDarkBlue: hsl(233, 47%, 7%);
  --darkBlue: hsl(244, 38%, 16%);
  --softViolet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: var(--veryDarkBlue);
  color: var(--white);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  max-width: 110rem;
  display: flex;
}

.container .text-content,
.container .visual-content {
  flex: 1;
}

.text-content {
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.text-content h1 {
  font-family: "Inter", sans-serif;
}
.text-content h1 span {
  color: var(--softViolet);
}
.text-content p {
  color: hsla(0, 0%, 100%, 0.6);
}

.text-content .stats {
  display: flex;
  justify-content: space-between;
}

.text-content .stats li {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.text-content .stats li span {
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  display: block;
  color: hsla(0, 0%, 100%, 0.75);
}
