@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
$primaryColor: hsl(0, 100%, 68%);
$veryDarkBlue: hsl(230, 29%, 20%);
$darkGreyBlue: hsl(230, 11%, 40%);
$greyBlue: hsl(231, 7%, 65%);
$lightGreyBlue: hsl(207, 33%, 95%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: $greyBlue;
  overflow-x: hidden;
  &::before {
    content: "";
    width: 50%;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $lightGreyBlue;
    border-radius: 0 0 0 3rem;
    z-index: -1;
  }
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3rem;
}

header {
  width: 100%;
  margin: 6rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    picture {
      img {
        object-fit: cover;
      }
    }

    nav {
      .menuDesktop {
        display: flex;
        @media only screen and (max-width: 400px) {
          display: none;
        }
      }

      .menuMobile {
        display: none;
        @media only screen and (max-width: 400px) {
          display: inherit;
        }
      }
      ul {
        display: flex;
        gap: 5rem;
        &.menuMobile {
          position: absolute;
          display: flex;
          flex-direction: column;
          left: 50%;
          top: 30%;
          transform: translate(-50%, -50%);
          background: white;
          width: 90%;
          text-align: center;
          gap: 0;
          padding: 2rem;
          font-size: 2rem;
          box-shadow: 2px 2px 15px rgb(84 84 84 / 22%);
        }
        li {
          @media only screen and (max-width: 400px) {
            padding: 2rem 1rem;
          }
          a {
            text-transform: uppercase;
            font-family: "Barlow Condensed", sans-serif;
            font-weight: 700;
            color: $veryDarkBlue;
          }

          &.acc-button {
            list-style: disc;
            color: $greyBlue;
            @media only screen and (max-width: 400px) {
              list-style: none;
              border-top: 1px solid $greyBlue;
            }
            a {
              color: $greyBlue;
            }
          }
          a:hover {
            border-bottom: 1px solid;
          }
        }
      }
    }
  }
}

section.intro-banner {
  .container {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 400px) {
      flex-direction: column-reverse;
    }
    .text-content,
    picture {
      flex: 1 0 50%;
      img {
        width: 200%;
      }
    }
    .text-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      .sub-title {
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        color: $greyBlue;
        font-size: 1.5rem;
        font-family: "Barlow Condensed", sans-serif;
      }

      .badge::before {
        content: "New";
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        background-color: $veryDarkBlue;
        padding: 0.5rem 1.3rem;
        border-radius: 2rem;
        letter-spacing: 0.2rem;
        font-weight: 700;
        color: white;
        margin-right: 1rem;
      }
      h1 {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        font-size: 6rem;
        text-transform: uppercase;
        color: $veryDarkBlue;
      }

      .btn {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-family: "Barlow Condensed", sans-serif;
        text-transform: uppercase;
        margin-top: 2rem;
        font-size: 1.5rem;
        a {
          background: $primaryColor;
          padding: 1.5rem 3.2rem;
          border-radius: 5px;
          color: white;
          border: 1px solid $greyBlue;
          letter-spacing: 0.1rem;
          transition: 300ms ease-in-out;
          &:hover {
            background-color: hsl(0, 100%, 68%, 0.8);
          }
        }
        p {
          letter-spacing: 0.3rem;
        }
      }
    }
  }
}
