@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: hsl(231deg, 7%, 65%);
  overflow-x: hidden;
}
body::before {
  content: "";
  width: 50%;
  height: 50vh;
  position: absolute;
  right: 0;
  top: 0;
  background-color: hsl(207deg, 33%, 95%);
  border-radius: 0 0 0 3rem;
  z-index: -1;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3rem;
}

header {
  width: 100%;
  margin: 6rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container picture img {
  -o-object-fit: cover;
     object-fit: cover;
}
header .container nav .menuDesktop {
  display: flex;
}
@media only screen and (max-width: 400px) {
  header .container nav .menuDesktop {
    display: none;
  }
}
header .container nav .menuMobile {
  display: none;
}
@media only screen and (max-width: 400px) {
  header .container nav .menuMobile {
    display: inherit;
  }
}
header .container nav ul {
  display: flex;
  gap: 5rem;
}
header .container nav ul.menuMobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background: white;
  width: 90%;
  text-align: center;
  gap: 0;
  padding: 2rem;
  font-size: 2rem;
  box-shadow: 2px 2px 15px rgba(84, 84, 84, 0.22);
}
@media only screen and (max-width: 400px) {
  header .container nav ul li {
    padding: 2rem 1rem;
  }
}
header .container nav ul li a {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: hsl(230deg, 29%, 20%);
}
header .container nav ul li.acc-button {
  list-style: disc;
  color: hsl(231deg, 7%, 65%);
}
@media only screen and (max-width: 400px) {
  header .container nav ul li.acc-button {
    list-style: none;
    border-top: 1px solid hsl(231deg, 7%, 65%);
  }
}
header .container nav ul li.acc-button a {
  color: hsl(231deg, 7%, 65%);
}
header .container nav ul li a:hover {
  border-bottom: 1px solid;
}

section.intro-banner .container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 400px) {
  section.intro-banner .container {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}
section.intro-banner .container .text-content,
section.intro-banner .container picture {
  flex: 1 0 50%;
}
section.intro-banner .container .text-content img,
section.intro-banner .container picture img {
  width: 200%;
}
section.intro-banner .container .text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
section.intro-banner .container .text-content .sub-title {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: hsl(231deg, 7%, 65%);
  font-size: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
}
section.intro-banner .container .text-content .badge::before {
  content: "New";
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  background-color: hsl(230deg, 29%, 20%);
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: white;
  margin-right: 1rem;
}
section.intro-banner .container .text-content h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
  color: hsl(230deg, 29%, 20%);
}
@media only screen and (max-width: 400px) {
  section.intro-banner .container .text-content h1 {
    font-size: 4rem;
  }
}
section.intro-banner .container .text-content .btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 1.5rem;
  white-space: nowrap;
}
@media only screen and (max-width: 400px) {
  section.intro-banner .container .text-content .btn {
    font-size: 1.2rem;
  }
}
section.intro-banner .container .text-content .btn a {
  background: hsl(0deg, 100%, 68%);
  padding: 1.5rem 3.2rem;
  border-radius: 5px;
  color: white;
  border: 1px solid hsl(231deg, 7%, 65%);
  letter-spacing: 0.1rem;
  transition: 300ms ease-in-out;
  font-weight: 700;
}
@media only screen and (max-width: 400px) {
  section.intro-banner .container .text-content .btn a {
    padding: 1.5rem 2rem;
  }
}
section.intro-banner .container .text-content .btn a:hover {
  background-color: hsla(0deg, 100%, 68%, 0.8);
}
section.intro-banner .container .text-content .btn p {
  letter-spacing: 0.3rem;
}/*# sourceMappingURL=style.css.map */